.root {
  width: 800px;
  border-radius: 10px;
  padding: 13px;
  background-color: #fffcfc;
}

.title {
  margin: 8px 0;
  font-weight: bold;
}
.input {
  border: 2px solid #dedede;
  border-radius: 8px;
  padding: 10px 13px;
  width: 100%;
  margin: 5px 0;
}

.inputGroup {
  display: flex;
  gap: 8px;
}

.group {
  width: 100%;
}

.btn {
  width: 100%;
  background-color: #c3d2ff;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
}

.error {
  font-size: 10px;
  font-weight: bold;
  color: #df791f;
}
