.root {
  padding: 13px 13px;
  background-color: #e9e9e9;
  width: 100%;
  max-width: 700px;
  display: flex;
  border-radius: 10px;
}

.icon {
  margin: 0 0 15px 5px;
}
.group {
  margin-left: 13px;
  width: 100%;
}

.title {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.actionBtn {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
