.root {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  height: 100vh;
  width: max(20vw, 200px);
  position: fixed;
}

.contentGroup {
  margin: 60px 0 0 0;
}

.home {
  display: flex;
}

.content {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.content:hover {
  background-color: rgb(236, 239, 243);
}

.icon {
  margin: 0 10px 0 20px;
}
