.taskButtonRoot {
  background-color: white;
  color: #5a5a5a;
  padding: 8px 15px;
  border: 1.5px solid #a7e044;
  border-radius: 10px 30px 30px 40px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
}

.taskButtonRoot:hover {
  background-color: #e3f6c4;
}
